<!-- File: dadjokes/templates/dadjokes/pictures.html -->
<!-- Author: Shrey Jain (shreyj@bu.edu), 4/3/2026 -->
<!-- Description: template to display all pictures -->

{% extends 'dadjokes/base.html' %}
{% block content %}
<h1>All Pictures</h1>
{% for picture in pictures %}
<div>
    <a href="{% url 'picture_detail' picture.pk %}">
        <img src="{{ picture.picture }}" alt="funny picture">
    </a>
    <p>-- {{ picture.name }} | {{ picture.timestamp|date:"M d, Y" }}</p>
    <hr>
</div>
{% endfor %}
{% endblock %}