<!-- Author: Shrey Jain (shreyj@bu.edu), 2/2/26 -->
<!-- Description:  HTML page for order view -->

<!-- restaurant/templates/restaurant/order.html -->
{% extends 'restaurant/base.html' %}
{% load static %}
    {% block content %}
        <h2>Place an Order</h2>

        <form action="{% url 'confirmation_page' %}" method="POST">
            {% csrf_token %}
            <div id="form-content">
                <h3>Select your entree:</h3>
                <input type="checkbox" name="entree" value="Chicken Burrito $10" id="entree1">
                <label for="entree1">Chicken Burrito $10</label><br>

                <div style="margin-left: 20px;">
                    <small>Protein upgrade:</small><br>
                    <input type="checkbox" name="entree" value="Sub Steak $3" id="sub-steak" disabled>
                    <label for="sub-steak">Sub Steak $3</label><br>
                </div>

                <input type="checkbox" name="entree" value="Steak Bowl $11">
                <label for="entree2">Steak Bowl $11</label><br>

                <input type="checkbox" name="entree" value="Pork Tacos $11">
                <label for="entree3">Pork Tacos $11</label><br>

                <input type="checkbox" name="entree" value="Chicken Tacos $10">
                <label for="entree4">Chicken Tacos $10</label><br><br>


                <h2>Today's special:</h2>
                <input type="checkbox" id="special" name="special">
                <label for="special">{{special}}</label><br>

                <h2>Special Instructions:</h2>
                <label for="instructions">Please share any special instructions:</label><br><br>
                <input type="text" id="instructions" name="instructions"><br><br>

                <div id="customer-info">
                    <h2>Customer information:</h2>
                    <label for="customer-name">Name:</label>
                    <input type="text" id="customer-name" name="customer-name"><br>

                    <label for="customer-phone">Phone:</label>
                    <input type="text" id="customer-phone" name="customer-phone"><br>

                    <label for="customer-email">Email:</label>
                    <input type="text" id="customer-email" name="customer-email"><br> 
                </div>
                
                <h2>Place your order:</h2>
                <input type="submit">
            </div>
            
        </form>

        <script>
            // Disables sub steak if chicken burrito is not selected
            const chickenBurrito = document.getElementById('entree1');
            const subSteak = document.getElementById('sub-steak');

            chickenBurrito.addEventListener('change', function() {
                if (this.checked) {
                    subSteak.disabled = false;
                } else {
                    subSteak.disabled = true;
                    subSteak.checked = false;
                }
            });
        </script>
    
    {% endblock %}