<!--File: quotes/templates/quotes/about.html 
# Author: Shrey Jain (shreyj@bu.edu), 1/26/2026
# Description: About page for quotes application -->

{% extends 'quotes/base.html' %}
    {% block content %}
<h2>Welcome!!</h2>
<p>This application displays quotes by and images of
   <a href="https://en.wikipedia.org/wiki/Michael_Scott_(The_Office)" target="_blank">Michael Scott</a>.</p>
<p>Michael Scott is the Regional Manager of Dunder Mifflin Scranton, known for his inappropriate humor, 
  misguided management style, and desperate need to be liked by everyone. He was born in Scranton, 
  Pennsylvania and has worked at Dunder Mifflin for over a decade, eventually becoming the 
  World's Best Boss (according to his mug). He is best known for his catch phrase <em>"That's what she said"</em> 
  and his documentary appearance on <em>The Office</em>.</p>

<h2>About The Developer</h2>
<p>This web application was created by <strong>Shrey Jain</strong>, 
  a Computer Science senior at Boston University. I am passionate about web development and distributed systems, 
  I built this Django application to showcase quotes and images from one of television's most iconic characters.</p>
{% endblock %}